extends template.pug 
    
block title 
    title Contact &amp; donate - Christopher Snowhill
block content
    h1 Donate
        h2
            ul.list-inline
                li.list-inline-item
                a(href='https://paypal.me/kode54' target='_self') PayPal
                li.list-inline-item
                a(href='https://ko-fi.com/kode54' target='_self') Ko-fi
                li.list-inline-item
                a(href='https://patreon.com/kode54' target='_self') Patreon
    h1 Contact me
    h2 Social media and other sites
    ul.list-inline
        li.list-inline-item
        a(href='https://twitter.com/kode54' target='_self') Twitter
        li.list-inline-item
        a(href='https://www.facebook.com/kode54' target='_self') Facebook
        li.list-inline-item
        a(href='https://github.com/kode54' target='_self') GitHub
        li.list-inline-item
        a(href='https://bitbucket.org/losnoco' target='_self') Bitbucket
        li.list-inline-item
        a(href='https://social.treehouse.systems/@kode54' target='_self') Mastodon
        li.list-inline-item
        a(href='https://keybase.io/kode54' target='_self') Keybase
        li.list-inline-item
        a(href='https://t.me/kode54' target='_self') Telegram
    h2 Or by email
    form(name='contact' method='post' data-netlify='true' data-netlify-recaptcha='true')
        .mb-3
        label(for='name') Name
        input#name.form-control(type='text' name='name' placeholder='Enter your name' required='')
        .mb-3
        label(for='email') Email
        input#email.form-control(type='email' name='email' placeholder='Enter your email' required='')
        .mb-3
        label(for='message') Message
        textarea#message.form-control(name='message' rows='3' placeholder='Enter your message' required='' maxlength='1000')
        .mb-3
        div(data-netlify-recaptcha='true')
        button.btn.btn-primary(type='submit') Submit