extends template.pug 
    
block title 
    title Contact - Christopher Snowhill
block content
    h1 Contact me by e-mail
    .alert.alert-warning(role="alert")
        span If you're contacting me about my foobar2000 components, #[a(href="https://kode54.net/fb2k-unfold") read this] first.
    form(name='contact' method='post' data-netlify='true' data-netlify-recaptcha='true')
        .mb-3
        label(for='name') Name
        input#name.form-control(type='text' name='name' placeholder='Enter your name' required='')
        .mb-3
        label(for='email') Email
        input#email.form-control(type='email' name='email' placeholder='Enter your email' required='')
        .mb-3
        label(for='message') Message
        textarea#message.form-control(name='message' rows='3' placeholder='Enter your message' required='' maxlength='1000')
        .mb-3
        div(data-netlify-recaptcha='true')
        button.btn.btn-primary(type='submit') Submit
