extends template.pug 
    
block title 
    title My foobar2000 components - Christopher Snowhill
block content
    h1 My foobar2000 components
    .headline.pb-4 I used to maintain a bunch of components for foobar2000, but I #[strong no longer support its developers and community], so I have ceased maintaining them. The repository for all of them, and the top level project containing all of them, is now archived, in case anyone really feels like they could take them over.
    .alert.alert-warning I will #[strong not] update my components to support the new x86_64 version of foobar2000.
    p I have been told several times that "what happens on IRC, stays on IRC", and that sort of attitude is quite annoying to deal with, because then people can be jackasses on IRC and mostly put on a facade of acceptable behavior on web forums and web sites.
    p I already left the private alpha foobar2000 chat because Peter thought it was appropriate to refer to a telemarketer who rang him up at 5:30am as the n-word.
    p I was contacted by an old acquaintance recently about getting up to speed on foobar2000 components and rejoining the community, and was fed a lengthy diatribe about how great a developer I am, and how someone of lower stance as him is able to develop an app that runs on millions of computers, so I should be destined for greatness too.
    p Then I was told that he heard from the foobar community that I "went LGBTQ+ on them", implying that this was a sudden "change" in my behavior and dismissing the whole point of it. Then he said "just be you, you don't need a movement". That dismissal disappointed me greatly. I terminated the conversation right there, and decided I would not be installing a Windows VM to proceed with Visual Studio projects.
    hr
    a.btn.btn-warning(href="https://github.com/losnoco/foobar2000") Repository
