extends template.pug 
    
block title 
    title My foobar2000 components - Christopher Snowhill
block content
    h1 My foobar2000 components
    .headline.pb-4 I used to maintain a bunch of components for foobar2000, but I #[strong no longer support its developers and community], so I have ceased maintaining them. 
    p If you want to know the reasons, #[a(href="fb2k-unfold.pug") read more after the fold].
