extends template.pug 
    
block title 
    title My foobar2000 components - Christopher Snowhill
block content
    h1 My foobar2000 components
    .headline.pb-4 I used to maintain a bunch of components for foobar2000, but I #[strong no longer support its developers and community], so I have ceased maintaining them. The repository for all of them, and the top level project containing all of them, is now archived, in case anyone really feels like they could take them over.
    .alert.alert-warning I will #[strong not] update my components to support the new x86_64 version of foobar2000.
    p If you want to know the reasons, #[a(href="fb2k-unfold.pug") read more after the fold].
    .btn-group 
        a.btn.btn-info(href="https://www.foobar2000.org/components/author/kode54",target="_blank") foobar2000.org components list
        a.btn.btn-warning(href="https://github.com/losnoco/foobar2000",target="_blank") Repository on GitHub

    
