extends template.pug 
    
block title 
    title My foobar2000 components - Christopher Snowhill
block content
    h1 My foobar 2000 components
    .headline I used to maintain a bunch of foobar2000 components, but I #[strong no longer support their community or developers], so I have ceased maintaining them. The repository for all of them, and the top level project containing all of them, are now archived, in case anyone really feels like they could take them over.
    hr
    a.btn.btn-warning(href="https://github.com/losnoco/foobar2000") Repository