extends template.pug 
    
block title 
    title Christopher Snowhill
block content
    h1 Christopher &ldquo;kode54&rdquo; Snowhill
    img.img-thumbnail.rounded.float-start.me-3(src='https://secure.gravatar.com/avatar/d06436ad17e8bce09279190a9b085ff2?s=128' alt='My face')
    p.headline
        | Hello, my name is 
        b Christopher Snowhill
        | , or 
        code kode54
        | , and I&apos;ve been writing software since as long as I can remember.
        br
        |  I am the main developer of 
        a(href='https://cog.losno.co') Cog
        | , an audio player for macOS.
    hr
    p
        | I&rsquo;ve been tinkering with electronics and computers for most of my life, and I&rsquo;ve taken so many things apart, put them back together, or wrecked them. I&rsquo;ve learned and programmed Apple II, Commodore 64, and IBM PC computers in multiple languages,
        | including Basic, 6502 assembly language, 65816 assembly language, x86 assembly language, C/C++, JavaScript, and PHP, to name a few.
    p
        | I have made a number of minor contributions to various projects, including a number of console emulators, like 
        a(href='http://www.zsnes.com/') ZSNES
        |  and 
        a(data-v-c8f0f1ae='' href='http://www.snes9x.com/') Snes9X
        | , and I&rsquo;ve contributed a
        |             number of patches to 
        a(data-v-c8f0f1ae='' href='https://github.com/higan-emu/higan') higan
        | .
    hr
    h2 Donate
        h3
            ul.list-inline
                li.list-inline-item
                a(href='https://paypal.me/kode54' target='_self') PayPal
                li.list-inline-item
                a(href='https://ko-fi.com/kode54' target='_self') Ko-fi
                li.list-inline-item
                a(href='https://patreon.com/kode54' target='_self') Patreon
                li.list-inline-item
                a(href='https://github.com/sponsors/kode54' target='_self') GitHub Sponsors
    hr
    h2 Social media links 
    ul.list-inline
        li.list-inline-item
        a(href='https://www.facebook.com/kode54' target='_self' rel='me') Facebook
        li.list-inline-item
        a(href='https://github.com/kode54' target='_self' rel='me') GitHub
        li.list-inline-item
        a(href='https://bitbucket.org/losnoco' target='_self' rel='me') Bitbucket
        li.list-inline-item
        a(href='https://social.treehouse.systems/@kode54' target='_self' rel='me') Mastodon
        li.list-inline-item
        a(href='https://keybase.io/kode54' target='_self' rel='me') Keybase
        li.list-inline-item
        a(href='https://t.me/kode54' target='_self' rel='me') Telegram
    hr
    a.btn.btn-primary.btn-lg.btn-block(href='contact.pug' role='button') Contact me
