$primary: #0d6775;
$link-decoration: none;
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@86,538&family=Roboto+Flex:opsz,wdth,wght,GRAD,XTRA,YTAS,YTDE,YTFI,YTLC,YTUC@8..144,47.5,400,25,552,750,-203,738,514,712;8..144,100,400,0,468,750,-203,738,514,712;8..144,151,1000,-200,514,854,-185,788,570,760&display=swap');
html,
body {
    font-family: 'Roboto Flex';
}

h1 {
    font-variation-settings: 'wght' 1000, 'wdth' 102.9, 'YTAS' 854, 'XTRA' 529, 'YTDE' -170, 'YTFI' 788, 'GRAD' -200, 'YTLC' 535;
}

.headline {
    font-variation-settings: 'wght' 431, 'wdth' 116.2, 'XTRA' 371, 'YTAS' 795;
    font-size: 16pt;
}

code {
    font-family: 'Inconsolata';
    font-weight: 538;
    font-variation-settings: 'wdth' 86;
}